<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-5 py-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card shadow-sm">
                    <div class="card-header text-black text-center">
                        <h2>Task</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" class="needs-validation" novalidate>
                            {% csrf_token %}

                            {% for field in form %}
                            <div class="form-group mb-3">
                                <label class="fw-bold" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}

                                {% if field.errors %}
                                <div class="error">
                                    {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-lg" style="width: 200px;">Save</button>
                            </div>
                        </form>

                        {% if form.errors %}
                        <div class="error-summary">
                            <p>There were some errors in your form submission. Please check below.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>